

     <!-- Assest pipeline to CSS for home.html  -->
     <% if controller_name == "application" && action_name == "home" %>
     <%= stylesheet_link_tag "chat" %>
     <% end %>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.6/angular.min.js'></script>
    <script src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
    <script src='https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js'></script>
  




  
    <div class="container">
    <div id="messagesDiv">
      <div ng-repeat="msg in messages"><em>{{msg.from}}</em>: {{msg.body}}</div>
    </div>
    
    <input type="text" ng-model="name" placeholder="Name">
    <input type="text" ng-model="msg" ng-keydown="addMessage($event)" placeholder="Message...">
    
     <script type="text/javascript">
    var app = angular.module("myapp", ["firebase"]);

function MyController($scope, $firebase) {
  var ref = new Firebase("https://alpha-db.firebaseio.com/");
  
  $scope.messages = $firebase(ref);
  
  $scope.addMessage = function(e) {
          if (e.keyCode != 13) return;
          $scope.messages.$add({from: $scope.name, body: $scope.msg});
          $scope.msg = "";
   }
}
</script>
    </div>