<!doctype html>
<html lang="en">
  <head>
      
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    
  </head>

  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <!-- <h5 class="my-0 mr-md-auto font-weight-normal">Gather</h5> -->
      <a class="my-0 mr-md-auto font-weight-normal" href="home.html">Gather</a>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">About</a>
        <a class="p-2 text-dark" href="#">Contact</a>
      </nav>
      <a class="btn btn-outline-primary" href="#">Sign Out</a>
    </div>

   <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Student Name, Welcome!</h1>
    </div>
    
    <div class="container">
  <section class="cms-boxes">
    <div class="container-fluid">
      <div class="row">
        
       
        <div class="col-md-4 cms-boxes-outer">
          <a href="friend.html">
          <div class="cms-boxes-items cms-features">
            <div class="boxes-align">
              <div class="small-box">
                <i class="fa fa-4x fa-laptop">&nbsp;</i>
                
                <h2>Friends</h2>
              
              </div>
            </div>
          </div>
            </a>
        </div>
        
        <div class="col-md-4 cms-boxes-outer">
           <a href="buddy.html">
          <div class="cms-boxes-items cms-features">
            <div class="boxes-align">
              <div class="small-box">
                <i class="fa fa-4x fa-cog">&nbsp;</i>
                <h2>Buddy</h2>
              </div>
            </div>
          </div>
           </a>
        </div>
       
        <div class="col-md-4 cms-boxes-outer">
           <a href="chat.html">
          <div class="cms-boxes-items cms-features">
            <div class="boxes-align">
              <div class="small-box">
                <i class="fa fa-4x fa-cog">&nbsp;</i>
                <h2>Chat</h2>
              </div>
            </div>
          </div>
           </a>
        </div>
       
     
      </div>
      <div class="row">
        <div class="col-md-4 cms-boxes-outer">
           <a href="tasks.html">
          <div class="cms-boxes-items cms-features">
            <div class="boxes-align">
              <div class="small-box">
                <i class="fa fa-4x fa-laptop">&nbsp;</i>
                <h2>Tasks</h2>
              </div>
            </div>
          </div>
           </a>
        </div>
        
        
        <div class="col-md-4 cms-boxes-outer">
             <a href="map.html">
          <div class="cms-boxes-items cms-features">
            <div class="boxes-align">
              <div class="small-box">
                <i class="fa fa-4x fa-cog">&nbsp;</i>
                <h2>Map</h2>
              </div>
            </div>
          </div>
          </a>
        </div>
        
        
        <div class="col-md-4 cms-boxes-outer">
          <a href="events.html">
          <div class="cms-boxes-items cms-features">
            <div class="boxes-align">
              <div class="small-box">
                <i class="fa fa-4x fa-laptop">&nbsp;</i>
                <h2>Events</h2>
              </div>
            </div>
          </div>
           </a>
        </div>
     
      </div>
    </div>
  </section>
</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>