
    
     <!-- Assest pipeline to CSS for home.html  -->
     <% if controller_name == "application" && action_name == "home" %>
     <%= stylesheet_link_tag "home" %>
     <% end %>



   <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Student Name, Welcome!</h1>
    </div>
    
    <div class="container">
  <section class="cms-boxes">
    <div class="container-fluid">
      <div class="row">
        
       
        <div class="col-md-4 cms-boxes-outer">
          <a href="friend.html">
          <div class="cms-boxes-items cms-features">
            <div class="boxes-align">
              <div class="small-box">
                <i class="fa fa-4x fa-laptop">&nbsp;</i>
                
                <h2>Friends</h2>
              
              </div>
            </div>
          </div>
            </a>
        </div>
        
        <div class="col-md-4 cms-boxes-outer">
           <a href="buddy.html">
          <div class="cms-boxes-items cms-features">
            <div class="boxes-align">
              <div class="small-box">
                <i class="fa fa-4x fa-cog">&nbsp;</i>
                <h2>Buddy</h2>
              </div>
            </div>
          </div>
           </a>
        </div>
       
        <div class="col-md-4 cms-boxes-outer">
           <a href="chat.html">
          <div class="cms-boxes-items cms-features">
            <div class="boxes-align">
              <div class="small-box">
                <i class="fa fa-4x fa-cog">&nbsp;</i>
                <h2>Chat</h2>
              </div>
            </div>
          </div>
           </a>
        </div>
       
     
      </div>
      <div class="row">
        <div class="col-md-4 cms-boxes-outer">
           <a href="tasks.html">
          <div class="cms-boxes-items cms-features">
            <div class="boxes-align">
              <div class="small-box">
                <i class="fa fa-4x fa-laptop">&nbsp;</i>
                <h2>Tasks</h2>
              </div>
            </div>
          </div>
           </a>
        </div>
        
        
        <div class="col-md-4 cms-boxes-outer">
             <a href="map.html">
          <div class="cms-boxes-items cms-features">
            <div class="boxes-align">
              <div class="small-box">
                <i class="fa fa-4x fa-cog">&nbsp;</i>
                <h2>Map</h2>
              </div>
            </div>
          </div>
          </a>
        </div>
        
        
        <div class="col-md-4 cms-boxes-outer">
          <a href="events.html">
          <div class="cms-boxes-items cms-features">
            <div class="boxes-align">
              <div class="small-box">
                <i class="fa fa-4x fa-laptop">&nbsp;</i>
                <h2>Events</h2>
              </div>
            </div>
          </div>
           </a>
        </div>
     
      </div>
    </div>
  </section>
</div>


    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
