html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container{
  max-width: 960px;
  margin: auto;
  padding: 10px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

section.cms-boxes .cms-boxes-outer {
  text-align: left;
  margin-bottom: 6px;
  padding: 0 3px;
}
section.cms-boxes .cms-boxes-outer .cms-boxes-items {
  height: 350px;
  display: table;
  width: 100%;
}
section.cms-boxes .cms-boxes-outer .cms-boxes-items-no_hover {
  height: 350px;
  display: table;
  width: 100%;
}
section.cms-boxes .cms-boxes-outer .cms-boxes-items p {
  
  font-size: 22px;
  color: #000000;
}
section.cms-boxes .cms-boxes-outer .cms-boxes-items-no_hover p {
  font-size: 22px;
  color: #000000;
}
section.cms-boxes .cms-features {
  background-color: #bffffff;
}
section.cms-boxes .cms-features-grey {
  background-color: #f2f2f2;
}
section.cms-boxes .cms-features-grey .boxes-align .small-box p {
  font-size: 16px;
  text-align: right;
}
section.cms-boxes .boxes-align {
  display: table-cell;
  vertical-align: middle;
}
section.cms-boxes .small-box, 
section.cms-boxes .large-box {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}
section.cms-boxes .cms-boxes-items h2 {
  font-size: 35px;
  color: #000000;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
  margin: 20px 0 10px;
  text-transform: none;
}
section.cms-boxes .cms-security {
  background-color: #ffffff;
}
section.cms-boxes .cms-security, 
section.cms-boxes .cms-documentation {
  background-color: rgb(66, 16, 88);
}
section.cms-boxes .cms-scalability {
  background: url(https://www.solodev.com/assets/tiles/scalability.jpg) 0 0 no-repeat;
  background-size: cover;
}
section.cms-boxes .cms-built {
  background: url(https://www.solodev.com/assets/tiles/customer-service.jpg) 0 0 no-repeat;
  background-size: cover;
}
section.cms-boxes .cms-security, section.cms-boxes .cms-documentation {
  background-color: rgb(66, 16, 88);
}
section.cms-boxes .cms-boxes-items:hover {
  opacity: 0.2;
  cursor: pointer;
} #1abc9c
section.cms-boxes .cms-boxes-items-no_hover:hover {
  opacity: 1;
  cursor: pointer;
} #1abc9c

*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  box-sizing: border-box;
}


.txtb{
  width: 100%;
  border: none;
  border-bottom: 2px solid #000;
  background: none;
  padding: 10px;
  outline: none;
  font-size: 18px;
}

h3{
  margin: 10px 0;
}

.task{
  width: 100%;
  background: rgba(217,217,217,0.5);
  padding: 18px;
  margin: 6px 0;
  overflow: hidden;
}

.task i{
  float: right;
  margin-left: 16px;
  cursor: pointer;
}

.comp .task{
  background: rgba(0,0,0,0.5);
  color: #fff;
}
